@import 'template.css';
:root {
	--background: #202020;
	--font1: #0ac0b7;
	--font2: #212121;
	--font3: #f5f7fa;
	--back1: #212121;
	--back2: #0ac0b7;
	--back3: #f5f7fa;
	--back4: #0071bc;
	--highlight1: #fafafa;
	--highlight2: #00ddd2;
	--highlight3: #2859b4;
	--shadow-white: #f5f7fa;
	--shadow-black: #000000;
}
body {
	background-color: var(--background);
}

.error {
	color: rgb(243, 59, 59);
}
.success {
	color: rgb(56, 151, 56);
}

.highlight1 {
	color: var(--highlight1);
	font-weight: bolder;
}
.highlight2 {
	color: var(--highlight2);
	font-weight: bolder;
}
.highlight3 {
	color: var(--highlight3);
	font-weight: bolder;
}

.font1 {
	color: var(--font1);
}
.font2 {
	color: var(--font2);
}
.font3 {
	color: var(--font3);
}

.back1 {
	background-color: var(--back1);
}
.back2 {
	background-color: var(--back2);
}
.back3 {
	background-color: var(--back3);
}
.back4 {
	background-color: var(--back4);
}

.btn-success {
}
.btn-primary {
}

.tray-icon {
	color: var(--font1);
}
.tray-icon:hover {
	color: var(--highlight1);
}
.tray-active {
	color: var(--highlight1);
}
