html {
	scroll-behavior: smooth;
}

.red {
	border: 2px red solid;
}
.blue {
	border: 2px blue solid;
}
.green {
	border: 2px green solid;
}
.black {
	border: 2px black solid;
}

.center {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.italic {
	font-style: italic;
}
.bold {
	font-weight: bolder;
}

@font-face {
	font-family: BebasNeue;
	src: url('fonts/BebasNeue-Regular.ttf');
}
.BebasNeue {
	font-family: BebasNeue;
}

@font-face {
	font-family: Comfortaa;
	src: url('fonts/Comfortaa-Medium.ttf');
}
.Comfortaa {
	font-family: Comfortaa;
}

@font-face {
	font-family: Ubuntu;
	src: url('fonts/UbuntuCondensed-Regular.ttf');
}
.Ubuntu {
	font-family: Ubuntu;
}

@font-face {
	font-family: Varela;
	src: url('fonts/VarelaRound-Regular.ttf');
}
.Varela {
	font-family: Varela;
}

@font-face {
	font-family: Sourcesans;
	src: url('fonts/SourceSansPro-Regular.ttf');
}
.Sourcesans {
	font-family: Sourcesans;
}

@font-face {
	font-family: Montserrat;
	src: url('fonts/Montserrat-Regular.ttf');
}
.Montserrat {
	font-family: Montserrat;
}
@font-face {
	font-family: Montserrat-Bold;
	src: url('fonts/Montserrat-Bold.ttf');
}
.Montserrat-Bold {
	font-family: Montserrat-Bold;
}
