html {
	scroll-behavior: smooth;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
button {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 160px;
	height: 40px;
	cursor: pointer;
	background: none;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	border: none;
	letter-spacing: 4px;
	font-size: 16px;
	z-index: 1;
}
button:before {
	content: 'REPO';
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	width: 160px;
	height: 40px;
	transition: 500ms;
	overflow: hidden;
	background: var(--back2);
	color: var(--shadow-white);
}
button::after {
	content: 'REPO';
	position: absolute;
	overflow: hidden;
	height: 40px;
	transition: 500ms;
	width: 0px;
	border-bottom: 2px solid var(--back2);
	border-top: 2px solid var(--back2);
	transform: translateY(-50%);
	color: var(--back2);
}
button:hover:before {
	width: 0px;
	transform: translateY(-50%) translateX(-50%);
}
button:hover:after {
	width: 160px;
	transform: translateY(-50%) translateX(-50%);
}

button:focus {
	outline: none;
}
.red {
	border: 2px red solid;
}
.blue {
	border: 2px blue solid;
}
.green {
	border: 2px green solid;
}
.black {
	border: 2px black solid;
}

.center {
	margin: 0 auto;
	text-align: center;
	justify-content: center;
}

.italic {
	font-style: italic;
}
.bold {
	font-weight: bolder;
}

@font-face {
	font-family: BebasNeue;
	src: url('fonts/BebasNeue-Regular.ttf');
}
.BebasNeue {
	font-family: BebasNeue;
}

@font-face {
	font-family: Comfortaa;
	src: url('fonts/Comfortaa-Medium.ttf');
}
.Comfortaa {
	font-family: Comfortaa;
}

@font-face {
	font-family: Ubuntu;
	src: url('fonts/UbuntuCondensed-Regular.ttf');
}
.Ubuntu {
	font-family: Ubuntu;
}

@font-face {
	font-family: Varela;
	src: url('fonts/VarelaRound-Regular.ttf');
}
.Varela {
	font-family: Varela;
}

@font-face {
	font-family: Sourcesans;
	src: url('fonts/SourceSansPro-Regular.ttf');
}
.Sourcesans {
	font-family: Sourcesans;
}

@font-face {
	font-family: Montserrat;
	src: url('fonts/Montserrat-Regular.ttf');
}
.Montserrat {
	font-family: Montserrat;
}
@font-face {
	font-family: Montserrat-Bold;
	src: url('fonts/Montserrat-Bold.ttf');
}
.Montserrat-Bold {
	font-family: Montserrat-Bold;
}
